<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bolutions.webserver"
      android:versionName="1.0.1" android:versionCode="101">
      
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	
    	<service android:name=".ServerService" android:exported="false"/>
    </application>

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="14" />
    
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
	
	
</manifest> 